.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.closed {
  display: none;
}

// Flex
.flex-container {
  display: flex;
}

.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

// Grid
.place-center {
  display: grid;
  place-items: center;
}
