.categories {
  width: 1160px;
  margin: 0 auto 70px;

  ul {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 40px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  a {
    display: block;

    width: 160px;
    min-height: 252px;

    color: $black ;

    font-weight: 800;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-decoration: none;

    &::before {
      content: '';
      display: block;

      width: 160px;
      height: 160px;
      margin-bottom: 32px;

      background-color: $yellow-light;
    }

    &:hover::before {
      background-color: $yellow-dark;
    }

    &:focus {
      @include focus-default;
    }

    &:active {
      outline: none;

      opacity: 0.3;
    }
  }
}

@each $category in $categories {
  @include bg-image($category);
}

.monopods {
  &::before {
    background-position: center bottom;
  }
}


