.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 560px);

  width: 1160px;
  margin: -35px auto 70px;

  background: linear-gradient($yellow, $yellow) no-repeat left -410px;

  column-gap: 40px;

  .heading-1 {
    margin: 121px 0 29px;
    color: $black;
  }
}

.slider-container {
  overflow: hidden;
  width: 560px;
}

.product-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style-type: none;


}

.product-preview-image {
  display: block;
}

.slider {
  position: relative;

  button {
    @include button-default;

    position: absolute;

    width: 20px;
    height: 60px;
    margin-bottom: 50px;

    background-image: url("../img/icons/arrow.svg");

    &:disabled {
      opacity: 0.1;
    }
  }
}

.button-next {
  top: 211px;
  right: 0;
  transform: rotate(180deg);
}

.button-previous {
  top: 211px;
  left: 30px;
}

.articles {
  position: relative;

  margin: 0;
  padding: 0;

  list-style-type: none;

  li::before {
    content: attr(data-count);
    position: absolute;
    top: 80px;
    right: 49px;
    z-index: 10;

    color: $white;

    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
  }

  article {
    position: relative;
    z-index: 20;
  }

  a {
    max-width: 220px;
    margin-bottom: 50px;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  dt {
    margin-bottom: 12px;

    color: $black;

    font-size: 36px;
    line-height: 30px;
  }

  dd {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
  }
}

.article-2 {
  dl {
    gap: 20px 40px;
  }
}

.article-text {
  margin: 0 0 50px;
}

.hero-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  margin: 0;
  padding: 0;

  list-style-type: none;

  transform: translateX(-50%);
}

.slide-button {
  @include button-default;

  width: 12px;
  height: 12px;
  padding: 0;
  border: 2px solid $black;
  border-radius: 50%;

  user-select: none;
}

.slide-button-active {
  background-color: $black;
}
