.info {
  display: flex;

  width: 1160px;
  margin: 0 auto 70px;

  section {
    &::before {
      content: '';
      display: block;

      width: 84px;
      height: 7px;

      background-color: $black;
    }
  }

  h3 {
    margin: 41px 0 48px;
  }
}

.text {
  margin: 0 0 30px;
}

.shippers {
  margin: 0 0 30px;
  padding-left: 37.5px;

  list-style: none;

  li {
    position: relative;

    color: $black;

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -34px;

      width: 8px;
      height: 8px;
      border-radius: 50%;

      background-color: $yellow-dark;

      transform: translateY(-50%);
    }
  }

  li:not(:last-child) {
    margin-bottom: 19px;
  }
}

.about {
  margin-right: 147px;

  button {
    min-width: 270px;
  }
}

.contacts {
  flex-shrink: 0;

  width: 532px;

  h4 {
    margin: 29px 0 15px;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  a {
    color: $dark;

    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 30px;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      @include focus-default;
    }

    &:active {
      outline: none;

      opacity: 0.3;
    }
  }

  button {
    min-width: 259px;
  }
}

.location {
  margin: 0;

  font-style: normal;
}

.working-time {
  margin: 0 0 30px;
  padding: 0;

  list-style: none;
}
