.monopods-header {
  width: 1160px;
  padding: 35px 60px 35px;
  margin: 0 auto;
  color: $black;

  h1 {
    margin: 0 0 15px;
  }
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 36px;
  padding: 0;
  margin: 0 0 0 1px;
  list-style: none;

  li {
    position: relative;
    font-size: 16px;
    line-height: 20px;
  }

  li:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -18px;
    height: 7px;
    width: 4px;
    background-image: url(../img/icons/breadcrumbs-separator.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }

  a {
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
  }
}

.monopods-catalog {
  color: $black;
  background-color: $light;
}

.monopods-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;

  h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  form {
    width: 320px;
    padding: 25px 60px;
  }

  fieldset {
    position: relative;
    width: 200px;
    border: none;
    padding: 0;

    &::before {
      position: absolute;
      top: -54px;
      left: 0;
      content: '';
      width: 200px;
      height: 2px;
      background-color: $black;
    }
  }

  legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin: 0 0 20px;
    padding: 0;
  }
}

.filter-heading {
  margin: 0 0 72px;
}

.range {
  margin: 0 0 50px 0;
}

.range-scale {
  position: relative;
  width: 209px;
  height: 2px;
  background-color: $gray;
  margin: 8px 0 12px -9px;

  button {
    position: absolute;
    top: -8px;
    z-index: 2;
    width: 18px;
    height: 18px;
    font-family: inherit;
    background-color: $light-gray;
    border: 2px solid $black;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      border-color: rgba(0, 0, 0, 0.5);
    }

    &:focus {
      @include focus-default;
    }

    &:active {
      outline: none;
      background-color: $black;
    }
  }
}

.range-min {
  left: -1px;
}

.range-max {
  right: 0;
}

.range-selected {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 2px;
  background-color: $black;
}

.range-price {
  display: flex;

  label {
    position: relative;
  }

  span {
    position: absolute;
    top: 50%;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
    transform: translateY(-50%);
  }

  input {
    display: block;
    width: 55px;
    padding: 0 0 0 19px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    color: inherit;
    opacity: 0.3;
    border: none;
    background-color: transparent;
    -webkit-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }

    &:focus {
      @include focus-default;
    }
  }
}

.lable-price-min {
  margin: 0 50px 0 -13px;
}

.colors {
  margin: 0 0 47px 0;


  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    font-size: 16px;
    line-height: 20px;
  }

  li:not(:last-child) {
    margin-bottom: 17px;
  }

  label {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0 16px 0 0;
    background-color: transparent;
    border: 2px solid $black;
    border-radius: 3px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-image: url(../img/icons/tick-checkbox.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
  }
}

.bluetooth {
  margin: 0 0 35px 0;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    font-size: 16px;
    line-height: 20px;
  }

  li:not(:last-child) {
    margin-bottom: 20px;
  }

  label {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 0 16px 0 0;
    background-color: transparent;
    border: 2px solid $black;
    border-radius: 50%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }

  input[type="radio"]:checked {
    background-image: url(../img/icons/tick-radio.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: center;
  }
}

.button-filter {
  width: 220px
}

.col-right {
  width: 840px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

  h2 {
    margin: 0;
  }

  select {
    padding: 0 32px 0 0;
    margin: 0;
    width: 141px;
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    background-color: transparent;
    border: none;
    background-image: url(../img/icons/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 11px center;
    -webkit-appearance: none;
    appearance: none;
  }
}

.sort-buttons {
  display: flex;

  button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    user-select: none;
    border: none;
    padding: 0;
    background-image: url(../img/icons/button-sort.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      @include focus-default;
    }

    &:active {
      outline: none;
      opacity: 1;
    }

    &:disabled {
      opacity: 0.1;
      cursor: default;

      &:hover {
        outline: none;
        opacity: 0.1;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.sort-max {
  transform: rotate(180deg);
}

.goods {
  padding: 70px 40px 78px;
  background-color: $white;
}

.goods-cards {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  padding: 0;
  margin: 0 0 44px;
  list-style: none;

  img {
    grid-column: 1 / -1;
    display: block;
    margin-bottom: 32px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }
}

.goods-new {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 27px;
    right: 27px;
    width: 60px;
    height: 60px;
    background-image: url(../img/icons/new.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.goods-card-link {
  position: relative;
  display: grid;
  grid-template-columns: 226px 1fr;
  color: inherit;
  text-decoration: none;

  &:hover {
    &::before {
      content: '';
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      width: 360px;
      height: 380px;
      background-color: rgba(240, 240, 240, 0.8);
    }

    h3 {
      opacity: 0.6;
    }

    .goods-detailed {
      display: block;
    }
  }

  &:focus {
    @include focus-default;
  }

  &:active {
    outline: none;

    &::before {
      content: '';
      z-index: 20;
      position: absolute;
      top: 0;
      left: 0;
      width: 360px;
      height: 380px;
      background-color: rgba(240, 240, 240, 0.8);
    }

    h3 {
      opacity: 0.3;
    }

    .goods-price {
      opacity: 0.3;
    }

    .goods-detailed {
      display: block;

      &::before {
        background-color: $yellow-dark;
      }
    }
  }
}

.goods-price {
  justify-self: end;
  color: $dark;
  font-size: 18px;
  line-height: 21px;
}

.goods-detailed {
  display: none;
  position: absolute;
  top: 180px;
  left: 75px;
  z-index: 30;
  width: 220px;
  color: $black;
  text-align: center;
  user-select: none;

  &::before {
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 0;
    content: '';
    width: 100%;
    height: 8px;
    background-color: $yellow-light;
    transform: translateY(-50%);
  }
}

.button-more {
  width: 100%;
  padding: 15px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid $mercury;
  user-select: none;
  margin-bottom: 44px;
  cursor: pointer;

  &:hover {
    border-color: $black;
  }

  &:focus {
    @include focus-default;
  }

  &:active {
    outline: none;
    border-color: $black;
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;
    cursor: default;

    &:hover {
      outline: none;
      opacity: 0.1;
    }

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      opacity: 0.1;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  background-color: $light-gray;

  button {
    @include button-default;
    padding: 25px;
    color: $dark;

    &:hover {
      background-color: $gray;
    }

    &:focus {
      @include focus-default;
    }

    &:active {
      outline: none;
      background-color: $gray;

      span {
        opacity: 0.3;
      }
    }

    &:disabled {

      span {
        opacity: 0.3;
      }

      &:hover {
        outline: none;
        background-color: transparent;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.pagination-list {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 40px;
  list-style: none;

  li {
    font-size: 16px;
    line-height: 20px;
  }

  a {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    color: $dark;
    opacity: 0.3;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    &:focus {
      @include focus-default;
    }

    &:active {
      outline: none;
      opacity: 0.1;
    }
  }

  .page-active {
    opacity: 0.6;

    &:hover {
      opacity: 0.6;
    }

    &:focus {
      outline: none;
    }

    &:active {
      outline: none;
      opacity: 0.6;
    }
  }
}
