section.categories
  h2.visually-hidden Категории товаров
  ul
    li
      a.vr-glasses(href="#no_scroll")
        span Виртуальная реальность
    li
      a.monopods(href="#no_scroll")
        span Моноподы #[br] для селфи
    li
      a.cameras(href="#no_scroll")
        span Экшн-камеры
    li
      a.bracelets(href="#no_scroll")
        span Фитнес-браслеты
    li
      a.watches(href="#no_scroll")
        span Умные часы
    li
      a.drones(href="#no_scroll")
        span Квадрокоптеры
