head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="viewport" content="width=device-width")
  meta(name="description" content="Educational project - shop Device")

  <meta property="og:title" content="Educational project - shop Device">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://teihden.github.io/device/">
  <meta property="og:image" content="img/hero/product-0.svg">

  title Device

  link(rel="icon" href="favicon.ico" type="image/x-icon" sizes="any")
  link(rel="icon" href="img/favicons/favicon.svg" type="image/svg+xml" sizes="any")
  link(rel="apple-touch-icon" href="apple-touch-icon.png" type="image/png" sizes="180x180")
  link(rel="manifest" href="manifest.webmanifest")

  link(rel="stylesheet" href="css/styles.css")
