section.hero
  h2.visually-hidden Превью товаров
  .slider
    .slider-container
      ol.product-list
        li.product-preview
          img.product-preview-image(src="img/hero/product-0.svg" width="560" height="560" alt="Квадрокоптер.")
        li.product-preview
          img.product-preview-image(src="img/hero/product-1.svg" width="560" height="560" alt="Фитнес-браслеты" aria-hidden="true")
        li.product-preview
          img.product-preview-image(src="img/hero/product-2.svg" width="560" height="560" alt="Палка для селфи." aria-hidden="true")
    button.states-default.button-previous(type="button" aria-label="Предыдущее фото.")
    button.states-default.button-next(type="button" aria-label="Следующее фото.")
  ol.articles
    li#article-0(data-count="01")
      article
        h3.visually-hidden Квадрокоптер
        p.heading-1 Порхает как бабочка, жалит как пчела!
        p.article-text Этот обычный, на первый взгляд, квадрокоптер оснащен мощным лазером, замаскированным под стандартную камеру.
        a.button-streak(href="#no_scroll") Подробнее
        dl
          .group
            dt 800 м
            dd Дальность полета
          .group
            dt 50 м
            dd Радиус поражения
    li.closed#article-1(data-count="02")
      article
        h3.visually-hidden Фитнес-браслет
        p.heading-1 Худеем #[br] правильно!
        p.article-text Мотивирующие фитнес-браслеты помогут найти в себе силы не пропускать занятия и соблюдать диету.
        a.button-streak(href="#no_scroll") Подробнее
        dl
          .group
            dt 48 часов
            dd Без подзарядки
    li.closed.article-2#article-2(data-count="03")
      article
        h3.visually-hidden Палка для селфи
        p.heading-1 Делай селфи, #[br] как Бен Стиллер!
        p.article-text Самая длинная палка для селфи доступна в нашем магазине. Восемь (Восемь, Карл!) метров длиной и весом всего 5 кг.
        a.button-streak(href="#no_scroll") Подробнее
        dl
          .group
            dt 8,5 м
            dd Длина палки
          .group
            dt 5 кг
            dd Вес палки
          .group
            dt Карбон
            dd Материал
  ol.hero-buttons
    li
      button.slide-button.states-default.slide-button-active#button-0(type="button" aria-label="Фото 1.")
    li
      button.slide-button.states-default#button-1(type="button" aria-label="Фото 2.")
    li
      button.slide-button.states-default#button-2(type="button" aria-label="Фото 3.")
