section.modal#modal(hidden)
  .modal-inner
    .modal-header
      h2.heading-1 Доставка под заказ
      button.modal-button-close.states-default(type="button" aria-label="Закрыть модальное окно.")
    form(action="https://echo.htmlacademy.ru/" method="post")
      ul.modal-user
        li
          label.modal-name-label(for="modal-name") Ваше имя:
          input.modal-name-input#modal-name(type="text" name="modal-name" placeholder="Введите имя" required)
        li
          label.modal-name-label(for="modal-email") Ваш e-mail:
          input.modal-email-input#modal-email(type="email" name="modal-email" value="почта" placeholder="Ваш e-mail" required)
          p.modal-hint Забавный у вас адрес
      .modal-delivery
        label.modal-object
          span Что нужно привезти:
          input.modal-object-input#modal-object-input(type="text" name="modal-object-input" placeholder="В свободной форме" required)
        .modal-quantity-group
          label.modal-quantity(for="modal-quantity-input") Количество:
          .modal-tooltip
            span.modal-button-tooltip
            p.modal-tooltip-text Постараемся найти, сколько нужно. Привезём сколько получится по требованиям к провозу багажа.
          .modal-quantity-buttons
            button.modal-button-decrease.place-center(type="button" aria-label="Увеличить.") #[span]
            input.modal-quantity-input#modal-quantity-input(type="number" name="modal-quantity-input" value="1" min="1" max="99" placeholder="0" required)
            button.modal-button-increase.place-center(type="button" aria-label="Уменьшить.") #[span]
      button.modal-form-button.button-streak(type="submit") Отправить
