header.page-header
  h2.visually-hidden Навигация по сайту
  nav
    a.states-default.header-logo-link(href="#no_scroll")
      img(src="img/logos/logo-header.svg" width="145" height="36" alt="Логотип магазина Device.")
    .header-navigation-site
      form(action="https://echo.htmlacademy.ru" method="get")
        label.search-label
          if page === "index"
            input.search-input#search(type="search" name="search-page" placeholder="Поиск по сайту" required)
          if page === "monopods"
            input.search-input#search(type="search" name="search-page" placeholder="Поиск по сайту" value="Текст поиска" required)
          span.visually-hidden Поиск по сайту
        button.search-button.button-transparent.place-center(type="submit") #[span Найти]
      ul.header-navigation-user
        li.login
          if page === "index"
            a.states-default.user-link.login-link(href="#no_scroll") Войти
          if page === "monopods"
            a.states-default.user-link.login-link(href="#no_scroll") Коля Петухов
        if page === "index"
          li.closed
            a.states-default.user-link.logout-link(href="#no_scroll") Выйти
        if page === "monopods"
          li
            a.states-default.user-link.logout-link(href="#no_scroll") Выйти
        li.compare
          a.states-default.user-link.compare-link(href="#no_scroll") Сравнить
        li.cart
          a.states-default.user-link.cart-link(href="#no_scroll") #[span.place-center 2] Корзина
          .shopping-cart
            ul
              li.cart-item
                a.states-default.cart-item-link
                  img(src="img/shopping-cart/product-1.jpg" width="39" height="43" alt="Любительская селфи-палка.")
                  p Любительская селфи-палка
                button.states-default(type="button" aria-label="Закрыть.")
              li.cart-item
                a.states-default.cart-item-link
                  img(src="img/shopping-cart/product-2.jpg" width="39" height="43" alt="Профессиональная селфи-палка.")
                  p Профессиональная селфи-палка
                button.states-default(type="button" aria-label="Закрыть.")
            .summary
              p
                span Товаров:
                output 2
              p
                span Сумма:
                output 2000 ₽
            a.cart-link-more.place-center.heading-2(href="#no_scroll") #[span Открыть корзину]
    ul.header-navigation-list
      li.catalog-list
        a.heading-2.catalog-heading.catalog-heading-closed(href="#no_scroll") Каталог товаров
        .catalog-container
          ul.catalog-sublist
            li
              a.states-default(href="#no_scroll") Виртуальная реальность
            li
              if page === "monopods"
                a.states-default.catalog-link-active(href="catalog-monopods.html") Моноподы для cелфи
              else
                a.states-default(href="catalog-monopods.html") Моноподы для cелфи
            li
              a.states-default(href="#no_scroll") Экшн-камеры
          ul.catalog-sublist
            li
              a.states-default(href="#no_scroll") Фитнес-браслеты
            li
              a.states-default(href="#no_scroll") Умные часы
          ul.catalog-sublist
            li
              a.states-default(href="#no_scroll") Квадрокоптеры
      li.heading-2
        a.heading-2.states-default.list-item(href="#no_scroll") Доставка
      li.heading-2
        a.heading-2.states-default.list-item(href="#no_scroll") Гарантия
      li.heading-2
        a.heading-2.states-default.list-item(href="#no_scroll") Контакты
