- const page = "monopods"

doctype html
html(lang="ru")
  include ../includes/head.pug

  body
    include ../includes/page-header.pug

    main
      include ../includes/monopods.pug

    include ../includes/page-footer.pug
    include ../includes/modal.pug
