//- index.pug

doctype html
html(lang="ru")
  //- Подключение head
  include ../includes/head.pug

  body
    //- Подключение page-header
    include ../includes/page-header.pug

    main

    //- Подключение page-footer
    include ../includes/page-footer.pug
