//- index.pug

doctype html
html(lang="ru")
  include ../includes/head.pug

  body
    include ../includes/page-header.pug
    main
      include ../includes/hero.pug
    include ../includes/page-footer.pug
