@mixin button-default {
  display: block;

  border: none;

  background-color: transparent;

  cursor: pointer;
}

@mixin focus-default {
  outline: 2px solid $purple;
  outline-offset: 2px;
}

@mixin bg-image($img) {
  .#{$img} {
    &::before {
    background-image: url(../img/categories/#{$img}.svg);
    background-position: center;
    background-repeat: no-repeat;
    }
  }
}
