// Colors
$black: #000000;
$dark: #444444;
$nero: #1a1a1a;
$weathered-stone: #c4c4c4;
$gray: #dcdcdc;
$light-gray: #ebebeb;
$light: #f0f0f0;
$white: #ffffff;
$yellow: #ffe17f;
$yellow-dark: #ffc700;
$yellow-light: #ffe17f;
$sunglow: #ffcc33;
$purple: #af4fff;
$error: #ff3d3d;
$alert: #fd912e;
$success: #08af00;

//Categories
$categories: vr-glasses, monopods, cameras, bracelets, watches, drones;
